* {
	font-family: 'Lato', sans-serif;
}

body {
	font-size: 18px;
}

p {
	font-family: 'Roboto', sans-serif;
}

.body-bg {
	background-color: #0B5563;
}

.main-title {
	font-size: 48px;
	color: #FFF;
}

.main-paragraph {
	color: #FFF;
	font-weight: 100;
}

.navbar {
	margin-top: 20px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #FFF;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.navbar-default .navbar-brand:hover {
	color: #11AF92;
}

.navbar-default .navbar-nav>li>a {
	font-size: 15px;
}

.navbar-default .navbar-nav #sign-in {
	background-color: #FFF;
	color: #13C4A3;
	padding: 10px 15px;
	border-radius: 5px;
}

.navbar-default .navbar-nav #sign-in:hover {
	background-color: #11AF92;
	color: #FFF;
}

.navbar-default .navbar-nav #sign-up {
	padding-top: 10px;
	color: #FFF;
}

.navbar-default .navbar-nav #sign-up:hover {
	color: #11AF92;
}

.photo-container {
	margin-top: 50px;
}

.upload-form {
	margin-top: 50px;
}

.upload-form label {
	color: #FFF;
}

.upload-form h3 {
	text-align: center;
	color: #FFF;
	margin-bottom: 50px;
}

.form-control {
	height: 50px;
	font-size: 13px;
}

.btn {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn-info {
	background-color: #11AF92;
}

.btn-info:hover {
	background-color: #13C4A3;
}

.modal-header, .modal-footer {
	border-color: transparent;
}

.modal-title {
	margin-top: 30px;
	text-align: center;
}
.modal-footer {
	margin-top: 30px;
}

.modal-footer a {
	color: #13C4A3;
}

.modal-footer p {
	color: #000;
	font-family: 'Lato', sans-serif;
}

.modal-footer a:hover {
	color: #11AF92;
}

.sign-up-info {
	margin-top: 100px;
}

.sign-up-info h1,p {
	color: #FFF;
}
.register-form {
	margin-top: 50px;
}
.register-form label {
	color: #FFF;
}
