<div class="sign-up-info">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12 col-offset-3">
			<h1 class="text-center">Welcome, Pierce Brosnan.</h1>
			<p class="text-center">Pierce Brendan Brosnan (born 16 May 1953) is an Irish actor, film producer and environmentalist who after leaving comprehensive school at age 16, began training in commercial illustration.</p>
		</div>
	</div>
</div>

<div class="register-form">
	<form method="post" action="/sign_up" role="form">
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control" type="text" name="username"></input>
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" type="text" name="name"></input>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" type="email" name="email"></input>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password" name="password"></input>
		</div>
		<input class="form-control btn btn-info" type="submit" value="OVERLOAAAAD"></input>
	</form>
</div>